<h1>Edit User</h1>
<form action="/update/<%=user._id%>" method="POST">
    <input type="text" name="name" value="<%=user.name%>">
    <input type="email" name="email" value="<%=user.email%>">
    <button>Update</button>
</form>